.main-div{
    width: 70%;
    padding: 10px;
    display: flex;
    
}
.corona-title{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.left-rows{
    margin: 5px;
}

.img-row{
    display: flex;
    justify-content: center;
}

.card-title{
    font-size: 20px;
    font-family: monospace; 
     font-weight: bold
}
.card-text{
    font-size: 28px;
    font-family: monospace; 
     font-weight: bold
}

.main-row{
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin:10px !important;
}

.dropdown-row{
    padding: 1%;
}

.button-moreinfo{
    margin-top: 2%;
    margin-bottom: 2%;
}
.flag{
    display: flex;
    justify-content: center;
    align-items: center;
}
.news-col{
    display: flex;
    justify-content: center;
    align-items: center;
}
.atag{
    color: blue !important;
}